<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WordCount</title>
</head>
<body>
    <a href="{% url 'about' %}">About</a>
    <h1>this is WordCount Website</h1>
    <form action="{% url 'count' %}">
        <h3>Enter your Text</h3>
        <textarea cols="50" rows="10" name="fulltext"></textarea>
        <br>
        <button type="submit">Submit text</button>
    </form>
</body>
</html>